<%= form_for(@data_point) do |f| %>
  <% if @data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_point.errors.count, "error") %> prohibited this data_point from being saved:</h2>

      <ul>
      <% @data_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <label class="label">Point Type</label>
    <p class="control">
      <span class="select">
        <select id="hey" name="data_point[point_type]">
          <option></option>
          <% DataPoint::POINT_TYPES.each do |x| %>
            <option><%= x %></option>
          <% end %>

        </select>
      </span>
    </p>
  </div>
  <div class="field">
    <label id="value-label">---</label><br />
    <%= f.number_field :point_value %>
  </div>
  <div class="field">
    <label id="aux-label">---</label><br>
    <%= f.text_area :aux_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$("#hey").change(function () {
  var selected = $('#hey').val();
  switch(selected){
    case "Proposals":
      $( "#value-label" ).html("How many outstanding proposals are there?");
      $( "#aux-label" ).html("Which ones?");
      break;
    case "Implementations":
      $( "#value-label" ).html("How many Implementations need to be done?");
      $( "#aux-label" ).html("Which ones?");
      break;
    case "GitHub Issues":
      $( "#value-label" ).html("How many issues are there currently?");
      $( "#aux-label" ).html("What are the priorities?");
      break;
    case "Bills Overdue":
      $( "#value-label" ).html("How many outstanding bills are there?");
      $( "#aux-label" ).html("Which clients?");
      break;
    case "Calls Made":
      $( "#value-label" ).html("How many calls have we made this week?");
      $( "#aux-label" ).html("What are the issues?");
      break;
  }
});
</script>
