<p id="notice"><%= notice %></p>

<h1>Listing Data Points</h1>

<table>
  <thead>
    <tr>
      <th>Point type</th>
      <th>Point value</th>
      <th>Aux data</th>
    </tr>
  </thead>

  <tbody>
    <% @data_points.each do |data_point| %>
      <tr>
        <td><%= data_point.point_type %></td>
        <td><%= data_point.point_value %></td>
        <td><%= data_point.aux_data %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data point', new_data_point_path %>
