<!DOCTYPE html>
<html>
<head>
  <title>Data App</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" style="margin-top:1rem;">
      <% if flash[:notice].present? %>
        <div class="notification is-info">
        <button class="delete" onclick='$(".notification").slideUp(200);'></button>
        <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
  </div>
</body>
</html>
